*.o
*.swp
Makefile.in
Makefile
.deps
config.log
config.status
config.h
config.h.in
config.h.in~
INSTALL
rt/gl/glsl.deps
embedded-ptx-code.*
configure~
configure
rt/gl/glsl.deps
auxx
src/rtgi
out.png
stamp-h1
aclocal.m4
autom4te.cache
driver/rtgi
libgi/libgi.a
test.obj
*.a
#*.png
rtgi-202*tar.gz
rtgi-202*tar.bz2

configure~
embedded-ptx-code.cpp
embedded-ptx-code.ptx

out_subds/
out_profiling/
render-data/sibenik/
render-data/sponza/
render-data/dragon/
render-data/local/
local/
.vscode/
rtgi_*

#Script generation
scripts/gen-test/
